<%= form_for @conn, Routes.score_path(@conn, :filter), [as: :filter, method: :post], fn f -> %>
    <div>
        <%= text_input f, :filter_criteria, placeholder: "Please type name to search" %>
    </div>

    <%= submit "Filter" %>
<% end %>